@media(max-width:575px) {
    a.navbar-brand {
        width: 35%;
    }

    i.fa-solid.fa-bars {
        color: #fff;
    }

    .facilitie-item h1 {
        margin: 53px 2;
        text-transform: capitalize;
        font-size: 32px;
        font-family: fangsong;
        margin-top: 60px;
        align-items: center;
        text-align: center;
    }


.header-content h1 {
    font-size: 30px;
    padding: 10px;
}

a.btn.btn-custom {
    /* margin-left: 50px; */
}

.header-content p {
    text-transform: capitalize;
    margin: 20px 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
}

.btn-custom {

    padding: 10px 15px;

}

.Course p {
    margin: 20px auto;
    font-size: 15px;
}

.Course .Course-item p {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
}

.Course .Course-item {

    margin-bottom: 20px;

    padding: 40px 5px;

}

.items:hover .layer p {
    top: 50%;
    opacity: 1;
    font-size: 20px;
}

.Course .Course-item h1 {

    font-size: 35px;

}

.Campus h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'Poppins';
    font-size: 25px;
}

.Campus p {
    margin: 20px 0;
    font-size: 15px;
}

.banner .items {
    position: relative;
    margin-bottom: 20px;
}

.facilitie-item {
    height: 688px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    border: 1px solid;
    padding: 10px;
    margin: 40px auto;
}

.comment-box {
    margin-top: 25px;
}

#contact .contact-us h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
}

.btn-contact {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px -1px;
    background: #ff5e00;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.f-items img {
    margin-top: 30px;
    margin: 20px auto;

}

.f-items2 h5 {
    color: #fff;
    font-size: 12px;
    /* border-bottom: 1px solid red; */
    margin: 20px auto;
    text-align: left;
}

.f-items2 {
    margin: 0px;
    /* margin: auto; */
    text-align: left;
    padding: 5px;
    height: 314px;
    /* font-size: 16px; */
    padding: 10px;
}

.f-items2 p {
    color: #fff;
    margin: 7px auto;
    font-size: 14px;
}



.facilitie-item p {
    margin: 20px auto;
    text-align: center;
}




}